 <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Swaggiffy &amp; Online music videos and Fashion Shop | Home</title>
    <!-- Favicon -->
    <link rel="icon" href="icon 3.png">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/home/style.css">
    <style>
      .form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=email]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.form-dark .modal-header {
    border-bottom: none;
}
    </style>
  </head>

  <body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
      <!-- Top Header Area -->
      <div class="top-header-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="top-header-content d-flex align-items-center justify-content-between">
                <!-- Top Header Content -->
                <div class="top-header-meta">
                  <p>Welcome to <span><b>Swaggiffy</b></span> SEE IT, BUY IT</p>
                </div>
                <!-- Top Header Content -->
                <div class="top-header-meta text-right">
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="marvin@gmx.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>: marvin@gmx.com</span></a>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="+263 715 801 268"><i class="fa fa-phone" aria-hidden="true"></i> <span>: +263 715 801 268</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Navbar Area -->
      <div class="famie-main-menu">
        <div class="classy-nav-container breakpoint-off">
          <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="famieNav">
              <!-- Nav Brand -->
              <a href="index.html" class="nav-brand" ><img src="/home/img/bg-img/swagglogo.png" alt="" style=" border-radius: 80%;max-width:50%;"></a>
              <!-- Navbar Toggler -->
              <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
              </div>
              <!-- Menu -->
              <div class="classy-menu">
                <!-- Close Button -->
                <div class="classycloseIcon">
                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Navbar Start -->
                <div class="classynav">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/shop/shop">Shop</a></li>

                    <li><a href="#">Auction</a>
                    <ul class="dropdown">
                        <li><a href="/shared/view-auctions"> Deals Of The Day</a></li>
                        <li><a href="/auth/sign-in"> Auction Category</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#SingIn"></i> Auction Details</a></li>
                        <li><a href="/auth/sign-out"> Auction Winners</a></li>
                      </ul>
                    </li>
                     
                      <% if(user){ %>
                      <% if(user.role=="Artist"){ %>
                    <li><a href="#">Request Management</a>
                    <ul class="dropdown">
                        <li><a href="#" data-toggle="modal" data-target="#SingIn"> Acknoledgements</a></li>
                        <li><a href="/auth/sign-in"> Bid Requests</a></li>
                      </ul>
                    </li>
                     <% } %>
                      <% } %>

                       <% if(user){ %>
                      <% if(user.role=="Artist"){ %>
                    <li><a href="#">Song Management</a>
                    <ul class="dropdown">
                        <li><a href="#" data-toggle="modal" data-target="#SingIn"> Add Song</a></li>
                        <li><a href="/auth/sign-in"> View Song</a></li>
                      </ul>
                    </li>
                     <% } %>
                      <% } %>
               
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#"><i class="fa fa-user"></i></a>
                      <ul class="dropdown">
                        <li><a href="#" data-toggle="modal" data-target="#SingIn"><i class="fa fa-sign-in"></i> Sign-In</a></li>
                        <li><a href="/auth/sign-in"><i class="fa fa-sign-in"></i> Sing-Up</a></li>
                       <% if(user){ %>
                        <% if(user.role=="Customer"){ %>
                        <li><a href="/auth/sign-in"><i class="fa fa-sign-in"></i> Profile Management</a></li>
                        <li><a href="/auth/sign-in"><i class="fa fa-sign-in"></i> Change Password</a></li>
                        <% } %>
                        <% if(user.role=="Artist"){ %>
                        <li><a href="/auth/sign-in"><i class="fa fa-sign-in"></i> Profile Management</a></li>
                        <li><a href="/auth/sign-in"><i class="fa fa-sign-in"></i> </a></li>
                        <% } %>
                        <li><a href="/auth/sign-out"><i class="fa fa-sign-in"></i> Sign-Out</a></li>
                        
                       <% } %>
                      </ul>
                    </li>
                  </ul>
                  <!-- Search Icon -->
                  <div id="searchIcon">
                    <i class="icon_search" aria-hidden="true"></i>
                  </div>
                  <!-- Cart Icon -->
                  <div id="cartIcon">
                    <a href="#">
                      <i class="icon_cart_alt" aria-hidden="true"></i>
                      <span class="cart-quantity"> {{session.cart.totalQty}}</span>
                    </a>
                  </div>
                </div>
                <!-- Navbar End -->
              </div>
            </nav>

            <!-- Search Form -->
            <div class="search-form">
              <form action="#" method="get">
                <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                <button type="submit" class="d-none"></button>
              </form>
              <!-- Close Icon -->
              <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- ##### Header Area End ##### -->




        <%- body %>

        <!-- Modal -->
<div class="modal fade" id="SingIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog form-dark" role="document">
    <!--Content-->
    <div class="modal-content card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
        <!--Header-->
        <div class="modal-header text-center pb-4">
          <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>SIGN</strong> <a
              class="green-text font-weight-bold"><strong> UP</strong></a></h3>
          <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Body-->
        <form action="/auth/sign-in" method="POST">
        <div class="modal-body">
          <!--Body-->
          <div class="md-form mb-5">
            <input type="text" name="username" class="form-control validate white-text" placeholder="username">
            <label data-error="wrong" data-success="right" for="Form-email5">Usename</label>
          </div>
          <div class="md-form pb-3">
            <input type="password" id="Form-pass5" name="password" class="form-control validate white-text" placeholder="password">
            <label data-error="wrong" data-success="right" for="Form-pass5">Your password</label>
            <div class="form-group mt-4">
              <input class="form-check-input" type="checkbox" id="checkbox624">
              <label for="checkbox624" class="white-text form-check-label">Accept the<a href="#" class="green-text font-weight-bold">
                  Terms and Conditions</a></label>
            </div>
          </div>
          <!--Grid row-->
          <div class="row d-flex align-items-center mb-4">

            <!--Grid column-->
            <div class="text-center mb-3 col-md-12">
              <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Sign up</button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-12">
              <p class="font-small white-text d-flex justify-content-end">Have an account? <a href="#" class="green-text ml-1 font-weight-bold">
                  Log in</a></p>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
        </form>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->

   <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(/home/img/bg-img/3.jpg);">
      <div class="container">
        <div class="row">

          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <a href="#" class="foo-logo d-block mb-3"><img src="/home/img/bg-img/swagglogo.png" alt=""></a>
              <p>Lorem ipsum dolor sit amet, consecte stare adipiscing elit. In act honcus risus atiner Pellentesque risus.</p>
              <div class="contact-info">
                <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>120 Raymond Rd, New York</span></p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i><span>info.deercreative@gmail.com</span></p>
                <p><i class="fa fa-phone" aria-hidden="true"></i><span>+84 223 9000</span></p>
              </div>
            </div>
          </div>

          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <h5 class="widget-title">QUICK LINK</h5>
              <!-- Footer Widget Nav -->
              <nav class="footer-widget-nav">
                <ul>
                  <li><a href="#">Purchase</a></li>
                  <li><a href="#">Policities</a></li>
                  <li><a href="#">Shipping</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Return</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Payments</a></li>
                  <li><a href="#">Partners</a></li>
                  <li><a href="#">Guide</a></li>
                  <li><a href="#">Standard</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Brands</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <h5 class="widget-title">RECENT NEWS</h5>

              <!-- Single Recent News Start -->
              <div class="single-recent-blog d-flex align-items-center">
                <div class="post-thumbnail">
                  <img src="img/bg-img/4.jpg" alt="">
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">WA’s largest farming business on the market</a>
                  <div class="post-date">18 Aug 2018</div>
                </div>
              </div>

              <!-- Single Recent News Start -->
              <div class="single-recent-blog d-flex align-items-center">
                <div class="post-thumbnail">
                  <img src="img/bg-img/5.jpg" alt="">
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">Beef retail prices hit a record</a>
                  <div class="post-date">18 Aug 2018</div>
                </div>
              </div>

            </div>
          </div>

          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <h5 class="widget-title">STAY CONNECTED</h5>
              <!-- Footer Social Info -->
              <div class="footer-social-info">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <span>Facebook</span>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <span>Twitter</span>
                </a>
                <a href="#">
                  <i class="fa fa-pinterest" aria-hidden="true"></i>
                  <span>Pinterest</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Copywrite Area  -->
    <div class="copywrite-area">
      <div class="container">
        <div class="copywrite-text">
          <div class="row align-items-center">
            <div class="col-md-6">
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
            </div>
            <div class="col-md-6">
              <div class="footer-nav">
                <nav>
                  <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Produce</a></li>
                    <li><a href="#">Practice</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jquery 2.2.4  -->
    <script src="/home/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="/home/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/home/js/bootstrap.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="/home/js/owl.carousel.min.js"></script>
    <!-- Classynav -->
    <script src="/home/js/classynav.js"></script>
    <!-- Wow js -->
    <script src="/home/js/wow.min.js"></script>
    <!-- Sticky js -->
    <script src="/home/js/jquery.sticky.js"></script>
    <!-- Magnific Popup js -->
    <script src="/home/js/jquery.magnific-popup.min.js"></script>
    <!-- Scrollup js -->
    <script src="/home/js/jquery.scrollup.min.js"></script>
    <!-- Jarallax js -->
    <script src="/home/js/jarallax.min.js"></script>
    <!-- Jarallax Video js -->
    <script src="/home/js/jarallax-video.min.js"></script>
    <!-- Active js -->
    <script src="/home/js/active.js"></script>
    <!-- Pop Over-->
    <script src="/shop.js"></script>
  </body>

  </html>
