<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Are you local weddding vendor provider & looking for wedding vendor website template. Wedding Vendor Responsive Website Template suitable for wedding vendor supplier, wedding agency, wedding company, wedding events etc.. ">
    <meta name="keywords" content="Wedding Vendor, wedding template, wedding website template, events, wedding party, wedding cake, wedding dress, wedding couple, couple, Wedding Venues Website Template">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home</title>
    <!-- Bootstrap -->
    <link href="/home2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template style.css -->
    <link rel="stylesheet" type="text/css" href="/home2/css/style.css">
    <link rel="stylesheet" href="/home/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/home2/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/home2/css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="/home2/css/owl.transitions.css">
    <!-- Font used in template -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,400italic,500,500italic,700,700italic,300italic,300' rel='stylesheet' type='text/css'>
    <!--font awesome icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- favicon icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/home/img/bg-img/swagglogo.png" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
       <style>
            	/* Coded with love by Mutiullah Samim */
		body,
		html {
            background-image: url('/home/images/ai-bg.jpg');
			margin: 0  ;
			padding: 0;
			height: 100%;
            }
            .h-100{
                    margin-top: 23px
            }
            .user_card {
                height: 400px;
                width: 350px;
                margin-top: auto;
                margin-bottom: auto;
                background:rgba(0,0,0,0.5) !important;
                position: relative;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 5px;

            }
            .brand_logo_container {
                position: absolute;
                height: 170px;
                width: 170px;
                top: -75px;
                border-radius: 50%;
                background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
                padding: 10px;
                text-align: center;
            }
            .brand_logo {
                height: 150px;
                width: 150px;
                border-radius: 50%;
                border: 2px solid white;
            }
            .form_container {
                margin-top: 100px;
            }
           .login_btn{
                color: black;
                background-color: #FFC312;
                width: 100px;
            }
            .login_btn:focus {
                box-shadow: none !important;
                outline: 0px !important;
            }
            .login_container {
                padding: 0 2rem;
            }
            .input-group-text {
                background: yellow !important;
                color: white !important;
                border: 0 !important;
                border-radius: 0.25rem 0 0 0.25rem !important;
            }
            .input_user,
            .input_pass:focus {
                box-shadow: none !important;
                outline: 0px !important;
            }
            .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
                background-color: yellow !important;
            }
            .social_icon span:hover{
                color: white;
                cursor: pointer;
            }

            .card-header h3{
                color: white;
            }

            .social_icon{
                position: relative;
                right: 20px;
                top: -45px;
                margin-top: 145px;
                margin-bottom: -143px;
                font-size: 60px;
                margin-left: 54px;
                color: #FFC312;
                border-radius: 50px !important;
            }
            .icons{
                margin-right: 10px;
            }
            .links{
                color: yellow !important;
            }
        </style>
</head>
<body>
    <div class="collapse" id="searcharea">
        <!-- top search -->
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Search</button>
          </span>
        </div>
    </div>
    <!-- /.top search -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 top-message">
                    <p>Welcome to <span><b>Swaggiffy</b></span> SEE IT, BUY IT</p>
                </div>
                <div class="col-md-6 top-links">
                    <ul class="listnone">
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="marvin@gmx.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>: marvin@gmx.com</span></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="+263 715 801 268"><i class="fa fa-phone" aria-hidden="true"></i> <span>: +263 715 801 268</span></a></li>
                        <li>
                            <a role="button" data-toggle="collapse" href="#searcharea" aria-expanded="false" aria-controls="searcharea"> <i class="fa fa-search"></i>Search </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 logo">
                    <div class="navbar-brand">
                        <a href="/index"><img src="https://static.wixstatic.com/media/68a88f_fd106af0f80a4d68b55a06d3e112cedf~mv2.png/v1/fill/w_195,h_79,al_c,q_85,usm_0.66_1.00_0.01/Swaggify%20Logo.webp" alt="Wedding Vendors" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="navigation" id="navigation">
                        <ul>
                            <li class="active"><a href="/" style="color:yellow"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="active"><a href="/index" style="color:yellow"><i class="fa fa-home" aria-hidden="true"></i> Home2</a></li>
                            <li class="active"><a href="/shop/shop" style="color:yellow"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Shop</a></li>

                            <li class="active"><a href="#" style="color:yellow"><i class="fa fa-ravelry" aria-hidden="true"></i>Auction</a>
                                <ul class="dropdown">
                                    <li><a href="/shared/view-auctions"> Deals Of The Day</a></li>
                                    <li><a href="/auth/sign-in"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Auction Category</a></li>
                                </ul>
                            </li>
                            <li class="active" style="color:yellow"><a href="#" style="color:yellow"><i class="fa fa-user"></i></a>
                                <ul class="dropdown">
                                    <% if(!user){ %>
                                    <li><a href="#" data-toggle="modal" data-target="#SingIn"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign-In</a></li>
                                    <li><a href="/auth/sign-in"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign-Up</a></li>
                                    <% } %>

                                <% if(user){ %>
                                    <% if(user.role=="Customer"){ %>
                                    <li><a href="/customer/customer-profile"><i class="fa fa-sign-in"></i> Profile</a></li>
                                    <% } %>
                                    <% if(user.role=="Artist"){ %>
                                    <li><a href="/artist/sign-in"><i class="fa fa-sign-in"></i> Profile </a></li>
                                    <% } %>
                                    <% if(user.role=="Admin"){ %>
                                    <li><a href="/auth/sign-in"><i class="fa fa-sign-in"></i> Dashboard</a></li>
                                    <li><a href="/auth/sign-in"><i class="fa fa-sign-in"></i> Profile </a></li>
                                    <% } %>
                                    <li><a href="/auth/sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign-Out</a></li>
                                    
                                <% } %>
                                </ul>
                            </li>
                        </ul>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <%- body %>
     <!-- /. Testimonial Section -->
        <div class="footer">
            <!-- Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-5 ft-aboutus">
                        <h2>Rudo Rwedu</h2>
                        <p>At Wedding Vendor our purpose is to help people find great online network connecting wedding suppliers and wedding couples who use those suppliers. <a href="#">Start Find Service!</a></p>
                        <a href="#" class="btn btn-default">Request a Service</a> </div>
                    <div class="col-md-3 ft-link">
                        <h2>Useful links</h2>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Home</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 newsletter">
                        <div class="social-icon">
                            <h2>Be Social &amp; Stay Connected</h2>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.Footer -->
    <div class="tiny-footer">
        <!-- Tiny footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">Copyright © 2014. All Rights Reserved</div>
            </div>
        </div>
    </div>

            <!-- Modal -->
<div class="modal fade" id="SingIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog form-dark" role="document">
    <!--Content-->
    <div class="modal-content card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
        <!--Header-->
        <div class="modal-header text-center pb-4">
          <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>SIGN</strong> <a
              class="green-text font-weight-bold"><strong> UP</strong></a></h3>
          <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Body-->
        <form action="/auth/sign-in" method="POST">
            <div class="modal-body">
            <!--Body-->
            <div class="d-flex justify-content-end social_icon">
                    <span class="icons"><a class="links" href="/auth/facebook"><i class="fab fa-facebook-square"></i></a></span>
                    <span class="icons"><a class="links" href="/auth/google"><i class="fab fa-google-plus"></i></a></span>
                    <span><a class="links" href="/auth/twitter"><i class="fab fa-twitter-square"></i></a></span>
            </div>
            <div class="row">
                <div class="md-form col-md-12 mb-5">
                    <label data-error="wrong" class="col-md-4" data-success="right" for="Form-email5">Usename</label>
                    <input type="text" name="username" class="form-control col-md-4 validate white-text" placeholder="username">
                    
                </div>
                <div class="md-form col-md-10 pb-3">
                    <label data-error="wrong" class="col-md-4" data-success="right" for="Form-pass5">Your password</label>
                    <input type="password" id="Form-pass5" name="password" class="form-control col-md-4  validate white-text" placeholder="password">
                    
                    <div class="form-group mt-4">
                    <input class="form-check-input" type="checkbox" id="checkbox624">
                    <label for="checkbox624" class="white-text form-check-label">Accept the<a href="#" class="green-text font-weight-bold">
                        Terms and Conditions</a></label>
                    </div>
                </div>
            </div>
            <!--Grid row-->
            <div class="row d-flex align-items-center mb-4">

                <!--Grid column-->
                <div class="text-center mb-3 col-md-12">
                <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Sign up</button>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-12">
                <p class="font-small white-text d-flex justify-content-end">Have an account? <a href="#" class="green-text ml-1 font-weight-bold">
                    Log in</a></p>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            </div>
        </form>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->
    <!-- /. Tiny Footer -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./home2/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./home2/js/bootstrap.min.js"></script>
    <!-- Flex Nav Script -->
    <script src="./home2/js/jquery.flexnav.js" type="text/javascript"></script>
    <script src="./home2/js/navigation.js"></script>
    <!-- slider -->
    <script src="./home2/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="./home2/js/slider.js"></script>
    <!-- testimonial -->
    <script type="text/javascript" src="./home2/js/testimonial.js"></script>
    <!-- sticky header -->
    <script src="./home2/js/jquery.sticky.js"></script>
    <script src="./home2/js/header-sticky.js"></script>
</body>

</html>
