<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Swaggify</title>
        <link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/bootstrap.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/font-awsome.css">
        <link rel="stylesheet" href="/verifyAccount.css">
        <script src="https://use.fonticons.com/ffe176a3.js"></script>
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <!------ Include the above in your HEAD tag ---------->
    </head>
    <body style="background-image: url('/img/verify2.jpg');">
        <%- body %>
        
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/bootstrap-4.4.1-dist/js/jQuery_v3.4.1.js"></script>
        <script src="/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
        <script>
            $(document).ready(function(){
                if($('div.tab-pane').hasClass('active')){
                    console.log("Hello ready to verify");
                    $('div.tab-pane').hasClass('active').hide();
                }
            });
        </script>
    </body>
</html>