  <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="filter-sidebar">
                        <div class="col-md-12 form-title">
                            <h2>Refine Your Search</h2>
                        </div>
                        <form>
                            
                            <div class="col-md-12 form-group">
                                <label class="control-label">Select Category</label>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="weddinghall" value="Wedding Hall" class="styled">
                                    <label for="weddinghall" class="control-label"> Cloths </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="dining" value="Dining" class="styled">
                                    <label for="dining" class="control-label">Suits </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="insurance" value="Liability Insurance" class="styled">
                                    <label for="insurance" class="control-label"> Shoes </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="catering" value="In House Catering" class="styled">
                                    <label for="catering" class="control-label"> Jewelery </label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label" for="capacity">Capacity</label>
                                <select id="capacity" name="capacity" class="form-control">
                                    <option value="">Select Capacity</option>
                                    <option value="0 - 99">0 - 99</option>
                                    <option value="100 - 199">100 - 199</option>
                                    <option value="200 - 299">200 - 299</option>
                                    <option value="300 - 399">300 - 399</option>
                                    <option value="400+">60 - 500</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="price-range default-range">
                                    <label for="amount" class="control-label">Price range:</label>
                                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                    <div id="slider-range"></div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group rating">
                                <label class="control-label">Select Rating </label>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="checkbox-0" value="1" class="styled">
                                    <label for="checkbox-0" class="control-label"> <i class="fa fa-star"></i> </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="checkbox-1" value="2" class="styled">
                                    <label for="checkbox-1" class="control-label"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="checkbox-2" value="3" class="styled">
                                    <label for="checkbox-2" class="control-label"> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i> </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="checkbox-3" value="4" class="styled">
                                    <label for="checkbox-3" class="control-label"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="checkbox-4" value="5" class="styled">
                                    <label for="checkbox-4" class="control-label"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label">Amenities</label>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="weddinghall" value="Wedding Hall" class="styled">
                                    <label for="weddinghall" class="control-label"> Wedding Hall </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="dining" value="Dining" class="styled">
                                    <label for="dining" class="control-label"> Dining </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="insurance" value="Liability Insurance" class="styled">
                                    <label for="insurance" class="control-label"> Liability Insurance </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="catering" value="In House Catering" class="styled">
                                    <label for="catering" class="control-label"> In House Catering </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="djfacilities" value="5" class="styled">
                                    <label for="djfacilities" class="control-label"> DJ Facilities </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" name="checkbox" id="dancefloor" value="Dance Foor" class="styled">
                                    <label for="dancefloor" class="control-label"> Dance Foor </label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" class="btn btn-primary btn-block">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">

                       <% for (product of products){
                            for (product1 of product.product_id){  %>

                       <!-- /.venue box start-->
                        <div class="col-md-4 vendor-box <%= product1 %> products" data-productid="<%= product1 %>" data-artistid="<%= product.artist_name %>" data-artistsong="<%= product.artist_song %>" style="cursor:pointer">
                            <!-- venue box start-->
                            <div class="vendor-image">
                                <!-- venue pic -->
                                <a href="/shop/view-single-product?pro_id=<%= product1 %>&song_id=<%=product.artist_song %>&art_id=<%=product.artist_name %>"><img src="/home2/images/old/vendor-3.jpg" alt="wedding venue" class="img-responsive"></a>
                                <div class="favourite-bg" style=" background-color:black "><a href="#" onclick="addTocart('<%= product1 %>')"><i class="fa fa-cart-plus"></i></a></div>
                            </div>
                            <!-- /.venue pic -->
                            <div class="vendor-detail">
                                <!-- venue details -->
                                <div class="caption">
                                    <!-- caption -->
                                    <h2></h2><span class="product-tags title name<%= product1 %>">hhh</span></h2>
                                    <p class="location"><i class="fa fa-map-marker"></i><span class="product-song product-song<%= product1 %>"> Song Name: </span></p>
                                    <div class="rating "> <i class="fa fa-dollar"></i></i><span class="rating-count <%= product1 %>">(20) </span> </div>
                                </div>
                                <!-- /.caption -->
                                <div class="vendor-price">
                                    <div class="price">$390 - $600</div>
                                </div>
                            </div>
                            <!-- venue details -->
                        </div>
                        <!-- /.venue box start-->

                         <% }} %>
                        
                        <div class="col-md-12 tp-pagination">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next"> <span aria-hidden="true">NEXT</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>