 <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
      
      <div class="welcome-slides owl-carousel">

        <!-- Single Welcome Slides -->
        <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(/home/img/core-img/adult1.jpg); text-align: center;">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 col-lg-10">
                <div class="welcome-content">
                  <h2 data-animation="fadeInUp" data-delay="200ms"><span style="font-weight: bolder;">Instantly Shop, Buy and Bid</span> Fashion <br> & Collectables from<span style="color: yellow;"> Music Videos.</span> </h2>
                  <p data-animation="fadeInUp" data-delay="400ms"> Clothing & Fashion Accessories from your <br> Favourite international and Local Artists' Music Videos</p>
                  <!-- Search Icon -->
                  <div id="searchIcon">
                    <i class="icon_search" aria-hidden="true"></i>
                  </div>
                  <a href="#" class="btn icon_search famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms" aria-hidden="true">Search</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Welcome Slides -->
        <!--<div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(/home/img/core-img/adult.jpg);text-align: center;">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 col-lg-10">
                <div class="welcome-content">
                  <h2 data-animation="fadeInUp" data-delay="200ms"><span style="font-weight: bolder;">Instantly Shop, Buy and Bid</span> Fashion <br> & Collectables from<span style="color: yellow;"> Music Videos.</span> </h2>
                  <p data-animation="fadeInUp" data-delay="400ms"> Clothing & Fashion Accessories from your <br> Favourite international and Local Artists' Music Videos</p>
                  <a href="#" class="btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">Contact Us</a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>-->

      </div>
    </div>
    <!-- ##### Hero Area End ##### -->

  <!--Second Section-->
    <section class="farming-practice-area section-padding-100-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
           

        <div class="row">

          <!-- Single Farming Practice Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Thumbnail -->
              <div class="farming-practice-thumbnail">
                <img src="jacket.jpg" alt="">
              </div>
              <!-- Content -->
              <div class="farming-practice-content text-center">
                <!-- Icon -->
                <div class="farming-icon">
                  <img src="gavin.png" alt="" style=" border-radius: 80%;max-width:100%;">
                  <p>Start Bid</p>
                </div>
                
                <h4>Jah Prayzah's Mbira.</h4>
                <p>Procceds to go to Charity...</p>
                <button type="submit" class="btn famie-btn">Sign-Up</button>
              </div>
            </div>
          </div>

          <!-- Single Farming Practice Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="200ms">
              <!-- Thumbnail -->
              <div class="farming-practice-thumbnail">
                <img src="ariana.jpg" alt="">
              </div>
              <!-- Content -->
              <div class="farming-practice-content text-center">
                <!-- Icon -->
                <div class="farming-icon">
                  <img src="buy.png" alt="" style=" border-radius: 80%;max-width:100%;">
                  <p>Buy Now</p>
                </div>
                
                <h4>Swagg of the WEEK</h4>
                <p>Buy all your Military Touch Regalia from our SWAGGIFY Store, We deliver locally & globally</p>
                <button type="submit" class="btn famie-btn">Visit Store</button>
              </div>
            </div>
          </div>

          <!-- Single Farming Practice Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Thumbnail -->
              <div class="farming-practice-thumbnail">
                <img src="jacket.jpg" alt="">
              </div>
              <!-- Content -->
              <div class="farming-practice-content text-center">
                <!-- Icon -->
                <div class="farming-icon">
                  <img src="charity.jpg" alt="" style=" border-radius: 80%;max-width:100%;">
                  <p>Register</p>
                </div>
      
                <h4>Charity Auction</h4>
                <p>Don't miss the Tuku & Hugh's Charity Auction.</p>
                <button type="submit" class="btn famie-btn"> Watch</button>
              </div>
            </div>
          </div>

         
        </div>

        <div class= "container-fluid" style="height:400px;padding-top: 100px;text-align:center; border: 10px solid rgb(218, 218, 7); ">
                  
          <h1 style= "text-align :center;">Did you know Swaggify's AI is daily learning about</h1>
          <h1 style= "text-align :center;"><b>Intangible African Cultural Heritage?</b></h1>
      
          <div  class="container-fluid"style="width:50%; padding-top: 30px;text-align: center;position: relative;">  
            <a href="blank1.html" class="btn btn-primary btn-user btn-block" style="background-color:white;color:black;font-size:20px;font-style:Arial Black; border: 2px solid rgb(3, 3, 3);" ><b>LEARN MORE</b></a>
          </div> 
        </div>



      </div>
    </section>
    <!-- ##### Farming Practice Area End ##### -->





    <!-- ##### Our Products Area Start ##### -->
    <section class="our-products-area section-padding-100" style="background-color: black;">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading text-center">
              <h1 style="text-align: center; color: yellow; padding-top: 50px;"><b>New music videos means New</b><br>fashion range.<span style="color:white"></b> Check our the Most <b>Trending<br><b>Swaggified</b> Music Videos</h1>
              <img src="img/core-img/decor2.png" alt="">
            </div>
          </div>
        </div>

        <div class="row">

          <!-- Single Product Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Product Thumbnail -->
              <div class="product-thumbnail">
                <img src="XQ1.jpg" alt="">
                <!-- Product Tags -->
                <span class="product-tags">Swagg</span>
                <!-- Product Meta Data -->
                <div class="product-meta-data">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                </div>
              </div>
              <!-- Product Description -->
              <div class="product-desc text-center pt-4" >
                <a href="#" class="product-title">XQ</a>
                <h4 style="color: yellow;">Get The same look at</h4>
                <h6  style="color: yellow;" class="price">20% discount</h6>
              </div>
            </div>
          </div>

          <!-- Single Product Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Product Thumbnail -->
              <div class="product-thumbnail">
                <img src="Tammy.jpg" alt="">
                <!-- Product Meta Data -->
                <div class="product-meta-data">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                </div>
              </div>
              <!-- Product Description -->
              <div class="product-desc text-center pt-4">
                <a href="#" class="product-title">Tamy Moyo</a>
                <h4 style="color: yellow;">Exotic African Jewellery get look at</h4>
                <h6  style="color: yellow;" class="price">20% discount</h6>
              </div>
            </div>
          </div>

          <!-- Single Product Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Product Thumbnail -->
              <div class="product-thumbnail">
                <img src="enzo2.jpg" alt="">
                <!-- Product Meta Data -->
                <div class="product-meta-data">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                </div>
              </div>
              <!-- Product Description -->
              <div class="product-desc text-center pt-4">
                <a href="#" class="product-title">Enzo Ishall</a>
                <h4 style="color: yellow;">Get The same look at</h4>
                <h6  style="color: yellow;" class="price">20% discount</h6>
              </div>
            </div>
          </div>
        </div>

    

        <div class="row">
          <div class="col-12">
            <div class="gotoshop-btn text-center wow fadeInUp" data-wow-delay="900ms">
              <a href="shop.html" class="btn famie-btn">View More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ##### Our Products Area End ##### -->



    <!-- ##### Services Area Start ##### -->
    <section class="services-area d-flex flex-wrap">
      <!-- Service Thumbnail -->
      <div class="services-thumbnail bg-img jarallax" style="background-image: url('Tuku.jpg');"></div>

      <!-- Service Content -->
      <div class="services-content section-padding-100-50 px-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Section Heading -->
              <div class="section-heading">
                <p>Whats hot</p>
                <h2><span>TRENDING BIDS</span></h2>
                <img src="img/core-img/decor.png" alt="">
              </div>
            </div>
          </div>

          <div class="container">
            <div class="col-12 mb-50">
              <h4>Get the hottest souveniers from the 1990s to the future. Proceeds go to the Charities and Foundations managed by Music Icons</h4>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-lg-12">
              <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
                <!-- Service Title -->
               
                <div class= "container-fluid">
                    <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

                      <!--Controls-->
                      <div class="controls-top">
                        <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i
                            class="fas fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i
                            class="fas fa-chevron-right"></i></a>
                      </div>
                      <!--/.Controls-->

                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-multi" data-slide-to="1"></li>
                        <li data-target="#carousel-example-multi" data-slide-to="2"></li>
                        <li data-target="#carousel-example-multi" data-slide-to="3"></li>
                        <li data-target="#carousel-example-multi" data-slide-to="4"></li>
                        <li data-target="#carousel-example-multi" data-slide-to="5"></li>
                      </ol>
                      <!--/.Indicators-->

                      <div class="carousel-inner v-2" role="listbox">
                        <% for(auction of auctions) { %>
                        <div class="carousel-item">
                          <div class="col-12 col-md-12">
                            <div class="card mb-12">
                              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (36).jpg"
                                alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title font-weight-bold"><%= auction.name %></h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                  card's content.</p>
                                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/shared/bid-item?auction_id={{#each this}}{{_id}}{{/each}}" method="post">
                                    <div class="input-group">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-auction">BID</i>
                                        </button>
                                    </div>
                                    <div>
                                        <ul class="filter"></ul>
                                    </div>
                                    </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% } %>
                      </div>

                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ##### Services Area End ##### -->

   

   



    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100-0">
      <div class="container">
        <div class="row justify-content-between">

          <!-- Contact Content -->
          <div class="col-12 col-lg-5">
            <div class="contact-content mb-100">
              <!-- Section Heading -->
              <div class="section-heading">
                <p>Contact now</p>
                <h2><span>Get In Touch</span> With Us</h2>
                <img src="img/core-img/decor.png" alt="">
              </div>
              <!-- Contact Form Area -->
              <div class="contact-form-area">
                <form action="index.html" method="post">
                  <div class="row">
                    <div class="col-lg-6">
                      <input type="text" class="form-control" name="name" placeholder="Your Name">
                    </div>
                    <div class="col-lg-6">
                      <input type="email" class="form-control" name="email" placeholder="Your Email">
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" name="subject" placeholder="Your Subject">
                    </div>
                    <div class="col-12">
                      <textarea name="message" class="form-control" cols="30" rows="10" placeholder="Your Message"></textarea>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn famie-btn">Send Message</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Contact Maps -->
          <div class="col-lg-6">
            <div class="contact-maps mb-100">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28313.28917392649!2d-88.2740948914384!3d41.76219337461615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880efa1199df6109%3A0x8a1293b2ae8e0497!2sE+New+York+St%2C+Aurora%2C+IL%2C+USA!5e0!3m2!1sen!2sbd!4v1542893000723"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ##### Contact Area End ##### -->