    <div class="slider-bg">
        <!-- slider start-->
        <div id="slider" class="owl-carousel owl-theme slider">
            <div class="item"><img src="./home2/images/old/hero-image-3.jpg" alt="Wedding couple just married"></div>
            <div class="item"><img src="./home2/images/old/hero-image-2.jpg" alt="Wedding couple just married"></div>
            <div class="item"><img src="./home2/images/old/hero-image.jpg" alt="Wedding couple just married"></div>
        </div>
        <div class="find-section">
            <!-- Find search section-->
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 finder-block">
                        <div class="finder-caption">
                            <h1>Find your perfect Wedding Planner</h1>
                            <p>Over <strong>1200+ Wedding Planner </strong>for your special date &amp; Find the perfect venue &amp; save your date.</p>
                        </div>
                        <div class="finderform">
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <select class="form-control">
                                            <option>Select Vendor Category</option>
                                            <option value="Venue">Venue</option>
                                            <option value="Photographer">Photographer</option>
                                            <option value="Cake">Cake</option>
                                            <option value="Dj">Dj</option>
                                            <option value="Florist">Florist</option>
                                            <option value="Videography">Videography</option>
                                            <option value="jewellery">Jewellery</option>
                                            <option value="Gifts">Gifts</option>
                                            <option value="Dresses">Dresses</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select class="form-control">
                                            <option>Select City</option>
                                            <option value="Ahmedabad">Chitungwiza</option>
                                            <option value="Gandhinagar">Harare</option>
                                            <option value="Rajkot">Marondera</option>
                                            <option value="Surat">Mbare</option>
                                            <option value="Vadodara">Epworth</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Find search section-->
    </div>
    <div class="section-space80  bg-light" >
        <!-- Call to action -->
       
        <div class="container">
            <h1 style="text-align: center;">Whats Hot</h1>
            <div class="row">
                <div class="col-md-4 couple-block">
                    <div class="card">
                        <div class="couple-icon"><img src="images/couple.svg" alt=""></div>
                            <h2>Don't be left out</h2>
                            <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                            <a href="#" class="btn btn-primary">Sign up</a> 
                        </div>
                </div>
                <div class="col-md-4 vendor-block">
                    <div class="vendor-icon"><img src="images/vendor.svg" alt=""></div>
                    <h2>Tradional and swaggi africa</h2>
                    <p>Fusce eget elementum quam, vel tempor justo. Ut imperdiet eget sapien dictum aliquam. Nulla maximus sodales dignissim.</p>
                    <a href="#" class="btn btn-primary">Bid now</a>
                </div>
                <div class="col-md-4 vendor-block">
                    <div class="vendor-icon"><img src="images/vendor.svg" alt=""></div>
                    <h2>Whats on swaggy Auction</h2>
                    <p>Fusce eget elementum quam, vel tempor justo. Ut imperdiet eget sapien dictum aliquam. Nulla maximus sodales dignissim.</p>
                    <a href="#" class="btn btn-primary">Auction</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /. Call to action -->
    <!-- slider end-->
    <div class="section-space80" style="background: yellow url(/home2/images/ai-bg2.jpg);min-height: 500px;background-attachment: fixed;background-position: center; background-repeat: no-repeat;background-size: cover;" >
        <!-- Feature Blog Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb60 text-center">
                        <h1 style="color:white">Did you know</h1><hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- /.feature block -->
                <div class="col-md-12">
                    <div class="feature-block feature-center">
                        <!-- feature block -->
                        <h1 style="color:white">Swaggify's AI is daily learning about <em>Intangible African Culture Hertage?</em></h1>
                        <a href="#" class="btn btn-primary">LEARN MORE</a>
                    </div>
                </div>
                <!-- /.feature block -->
            </div>
            <!-- /.feature center -->
        </div>
    </div>
    <!-- Feature Blog End -->
    <div class="section-space80 bg-light" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb60 text-center">
                        <h1>New music videos means New fashionmrange.</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a volutpat felis, nec bibendum nisl. </p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <!-- vendor box start-->
                    <div class="vendor-box">
                        <div class="vendor-image">
                            <!-- vendor pic -->
                            <a href="#"><img src="/home2/images/old/vendor-3.jpg" alt="wedding vendor" class="img-responsive"></a>
                            <div class="feature-label"></div>
                            <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                        </div>
                        <!-- /.vendor pic -->
                        <div class="vendor-detail">
                            <!-- vendor details -->
                            <div class="caption">
                                <!-- caption -->
                                <h2><a href="#" class="title">Robot Pictures | Photographer</a></h2>
                                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(2)</span> </div>
                            </div>
                            <!-- /.caption -->
                            <div class="vendor-price">
                                <a href="#">BUY NOW</a>
                                <a href="#">Watch</a>
                            </div>
                        </div>
                        <!-- vendor details -->
                    </div>
                </div>
                <!-- /.vendor box start-->
                <div class="col-md-4">
                    <!-- vendor box start-->
                    <div class="vendor-box">
                        <div class="vendor-image">
                            <!-- vendor pic -->
                            <a href="#"><img src="/home2/images/old/vendor-3.jpg" alt="wedding vendor" class="img-responsive"></a>
                            <div class="rated-label"></div>
                            <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                        </div>
                        <!-- /.vendor pic -->
                        <div class="vendor-detail">
                            <!-- vendor details -->
                            <div class="caption">
                                <!-- caption -->
                                <h2><a href="#" class="title">Tammy</a></h2>
                                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(3)</span> </div>
                            </div>
                            <!-- /.caption -->
                            <div class="vendor-price">
                                <a href="#">BUY NOW</a>
                                <a href="#" style="margin-left:8px">Watch</a>
                            </div>
                        </div>
                    </div>
                    <!-- vendor details -->
                </div>
                <!-- /.vendor box start-->
                <div class="col-md-4 vendor-box">
                    <!-- vendor box start-->
                    <div class="vendor-image">
                        <!-- vendor pic -->
                        <a href="#"><img src="/home2/images/old/vendor-3.jpg" alt="wedding vendor" class="img-responsive"></a>
                        <div class="popular-label"></div>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.vendor pic -->
                    <div class="vendor-detail">
                        <!-- vendor details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Eq</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(5)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <a href="#">BUY NOW</a>
                            <a href="#">Watch</a>
                        </div>
                    </div>
                    <!-- vendor details -->
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Blog End -->
    <div class="section-space80" style="background-color:black;min-height: 500px;background-attachment: fixed;background-position: center; background-repeat: no-repeat;background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb60 text-center">
                        <h1>Swaggify Recommended</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a volutpat felis, nec bibendum nisl. </p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <!-- vendor box start-->
                    <div class="vendor-box">
                        <div class="vendor-image">
                            <!-- vendor pic -->
                            <a href="#"><img src="images/vendor-1.jpg" alt="wedding vendor" class="img-responsive"></a>
                            <div class="feature-label"></div>
                            <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                        </div>
                        <!-- /.vendor pic -->
                        <div class="vendor-detail">
                            <!-- vendor details -->
                            <div class="caption">
                                <!-- caption -->
                                <h2><a href="#" class="title">Robot Pictures | Photographer</a></h2>
                                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(2)</span> </div>
                            </div>
                            <!-- /.caption -->
                            <div class="vendor-price">
                                <div class="price">$190 - $600</div>
                            </div>
                        </div>
                        <!-- vendor details -->
                    </div>
                </div>
                <!-- /.vendor box start-->
                <div class="col-md-4">
                    <!-- vendor box start-->
                    <div class="vendor-box">
                        <div class="vendor-image">
                            <!-- vendor pic -->
                            <a href="#"><img src="images/vendor-4.jpg" alt="wedding vendor" class="img-responsive"></a>
                            <div class="rated-label"></div>
                            <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                        </div>
                        <!-- /.vendor pic -->
                        <div class="vendor-detail">
                            <!-- vendor details -->
                            <div class="caption">
                                <!-- caption -->
                                <h2><a href="#" class="title">KnowHow Dresses </a></h2>
                                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(3)</span> </div>
                            </div>
                            <!-- /.caption -->
                            <div class="vendor-price">
                                <div class="price">$290 - $600</div>
                            </div>
                        </div>
                    </div>
                    <!-- vendor details -->
                </div>
                <!-- /.vendor box start-->
                <div class="col-md-4 vendor-box">
                    <!-- vendor box start-->
                    <div class="vendor-image">
                        <!-- vendor pic -->
                        <a href="#"><img src="images/vendor-3.jpg" alt="wedding vendor" class="img-responsive"></a>
                        <div class="popular-label"></div>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.vendor pic -->
                    <div class="vendor-detail">
                        <!-- vendor details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Vendor Photographer Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(5)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- vendor details -->
                </div>
            </div>
        </div>
    </div>
    <!--Auctions-->
    <div class="section-space80 bg-light" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/home2/images/bidding.jpg);min-height: 500px;background-attachment: fixed;background-position: center; background-repeat: no-repeat;background-size: cover;">
        <!-- Testimonial Section -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb60 text-center">
                        <h1 style="color:yellow">TRENDING AUCTIONS</h1>
                        <p style="color:white">Nam nec ornare velit. In non erat sollicitudin, luctus dolor at, aliquam tortor. Donec et purus sed felis suscipit maximus at eget sapien.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 tp-testimonial">
                    <div id="auctions" class="owl-carousel owl-theme">
                        <div class="item testimonial-block">
                            
                            <img src="/home2/images/bidding.jpg" alt="" class="auction-img" srcset="">
                            <div class="couple-info">
                                <div class="name"><a href="">Jah praizah hat</a></div>
                                <div class="date">Thu, 21st June, 2015</div>
                            </div><hr>
                            <div>
                                <a href="#" class="btn btn-primary">Bid now</a>
                            </div>
                        </div>
                        <div class="item testimonial-block">
                            
                            <img src="/home2/images/bidding.jpg" alt="" class="auction-img" srcset="">
                            <div class="couple-info">
                                <div class="name"><a href="">Jah praizah hat</a></div>
                                <div class="date">Thu, 21st June, 2015</div>
                            </div><hr>
                            <div>
                                <a href="#" class="btn btn-primary">Bid now</a>
                            </div>
                        </div>
                        <div class="item testimonial-block">
                            
                            <img src="/home2/images/bidding.jpg" alt="" class="auction-img" srcset="">
                            <div class="couple-info">
                                <div class="name"><a href="">Jah praizah hat</a></div>
                                <div class="date">Thu, 21st June, 2015</div>
                            </div><hr>
                            <div>
                                <a href="#" class="btn btn-primary">Bid now</a>
                            </div>
                        </div>
                        <div class="item testimonial-block">
                            
                            <img src="/home2/images/bidding.jpg" alt="" class="auction-img" srcset="">
                            <div class="couple-info">
                                <div class="name"><a href="">Jah praizah hat</a></div>
                                <div class="date">Thu, 21st June, 2015</div>
                            </div><hr>
                            <div>
                                <a href="#" class="btn btn-primary">Bid now</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <a href="/shared/view-auctions" class="btn btn-primary" style="margin-left: 45%;">MORE AUCCTIONS</a>
        </div>
    </div>
    <!-- Auction end-->
    <div class="section-space80 bg-light">
        <!-- Testimonial Section -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb60 text-center">
                        <h1>Happy Couples</h1>
                        <p>Nam nec ornare velit. In non erat sollicitudin, luctus dolor at, aliquam tortor. Donec et purus sed felis suscipit maximus at eget sapien.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 tp-testimonial">
                    <div id="testimonial" class="owl-carousel owl-theme">
                        <div class="item testimonial-block">
                            <div class="couple-pic"><img src="" alt="" class="img-circle"></div>
                            <div class="feedback-caption">
                                <p>"Had our wedding on 15th may 2015 and have to say Jenny and the team made it a wonderful and enjoyable day were Notting was a problem from the build up to the day."</p>
                            </div>
                            <div class="couple-info">
                                <div class="name">Dave Macwan</div>
                                <div class="date">Thu, 21st June, 2015</div>
                            </div>
                        </div>
                        <div class="item testimonial-block">
                            <div class="couple-pic"><img src="images/couple-2.jpg" alt="" class="img-circle"></div>
                            <div class="feedback-caption">
                                <p>"Vestibulum vitae neque urna. Duis ut mauris mi. Sed vehicula vestibulum finias their default model text and a search for lorem ipsum will uncover manym elit posuerenia eget sem."</p>
                            </div>
                            <div class="couple-info">
                                <div class="name">Marry &amp; Leary</div>
                                <div class="date">Thu, 13th July, 2015</div>
                            </div>
                        </div>
                        <div class="item testimonial-block">
                            <div class="couple-pic"><img src="images/couple-3.jpg" alt="" class="img-circle"></div>
                            <div class="feedback-caption">
                                <p>"Had our wedding on 15th Oct 2018 and have to say Jenny and the team made it a wonderful and enjoyable day were Notting was a problem from the build up to the day."</p>
                            </div>
                            <div class="couple-info">
                                <div class="name">Jhon Doe &amp; Doe Jassica</div>
                                <div class="date">Thu, 21st Aug, 2017</div>
                            </div>
                        </div>
                        <div class="item testimonial-block">
                            <div class="couple-pic"><img src="images/couple-4.jpg" alt="" class="img-circle"></div>
                            <div class="feedback-caption">
                                <p>"Etiam ut metus nisi. Sed non laoreet nisi tinciin interdum risus felis enjoyable day were Notting was a problem from the build up to the dayvel eleifend milaoreet consectetur."</p>
                            </div>
                            <div class="couple-info">
                                <div class="name">Dave Macwan</div>
                                <div class="date">Thu, 12th Sept, 2017</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. Testimonial Section -->