<link rel="stylesheet" href="/home/style.css">
<style>
            	/* Coded with love by Mutiullah Samim */
		body,
		html {
            background-image: url('/home/img/bg-img/login.jpg');
			margin: 0  ;
			padding: 0;
			height: 100%;
            }
            .h-100{
                    margin-top: 23px
            }
            .user_card {
                height: 400px;
                width: 350px;
                margin-top: auto;
                margin-bottom: auto;
                background:rgba(0,0,0,0.5) !important;
                position: relative;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 5px;

            }
            .brand_logo_container {
                position: absolute;
                height: 170px;
                width: 170px;
                top: -75px;
                border-radius: 50%;
                background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
                padding: 10px;
                text-align: center;
            }
            .brand_logo {
                height: 150px;
                width: 150px;
                border-radius: 50%;
                border: 2px solid white;
            }
            .form_container {
                margin-top: 100px;
            }
           .login_btn{
                color: black;
                background-color: #FFC312;
                width: 100px;
            }
            .login_btn:focus {
                box-shadow: none !important;
                outline: 0px !important;
            }
            .login_container {
                padding: 0 2rem;
            }
            .input-group-text {
                background: yellow !important;
                color: black !important;
                border: 0 !important;
                border-radius: 0.25rem 0 0 0.25rem !important;
            }
            .input_user,
            .input_pass:focus {
                box-shadow: none !important;
                outline: 0px !important;
            }
            .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
                background-color: yellow !important;
            }
            .social_icon span:hover{
                color: white;
                cursor: pointer;
            }

            .card-header h3{
                color: white;
            }

            .social_icon{
                position: relative;
                right: 20px;
                top: -45px;
                margin-top: 145px;
                margin-bottom: -143px;
                font-size: 60px;
                margin-left: 54px;
                color: #FFC312;
                border-radius: 50px !important;
            }
            .icons{
                margin-right: 10px;
            }
            .links{
                color: yellow !important;
            }
        </style>

    <div class="{{alert}}">
      <strong class="">{{msg}}</strong>
    </div>
    <div class="container h-100" >
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="https://avatars2.githubusercontent.com/u/61042713?s=200&v=4" class="brand_logo" alt="Logo">
                    </div>
                    <div class="d-flex justify-content-end social_icon">
                        <span class="icons"><a class="links" href="/auth/facebook"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></span>
                        <span class="icons"><a class="links" href="/auth/google"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a></span>
                        <span><a class="links" href="/auth/twitter"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></span>
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form action="/auth/sign-in" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" name="username" class="form-control input_user" value="" placeholder="username">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                            </div>
                            <input type="password" name="password" class="form-control input_pass" value="" placeholder="password">
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" class="btn login_btn">Sign-in</button>
                        </div>
                    </form>
                </div>
        
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <a href="#" class="ml-2">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
