   
   <!-- Feature Blog End -->
    <div class="section-space80 bg-light" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb60 text-center">
                        <h1>Deals of the day</h1>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row ">
               
               <% for(var auction of auctions) { %>
                <div class="col-md-4" data-id="<% auction._id %>">
                    <!-- vendor box start-->
                    <div class="vendor-box">
                        <div class="vendor-image">
                            <!-- vendor pic -->
                            <a href="/shared/view-auction?auction_id=<%= auction._id %>"><img src="/home2/images/old/vendor-3.jpg" alt="Swagg Logo" class="img-responsive"></a>
                            <div class="feature-label"></div>
                            <div class="favourite-bg" style="background-color: black; color:blanchedalmond"><span class="<%= auction._id %>" id="<%= auction._id %>" data-startDate="<%= auction.startDate %>" data-endDate="<%= auction.endDate %>"> </span></div>
                        </div>
                        <!-- /.vendor pic -->
                        <div class="vendor-detail">
                            <!-- vendor details -->
                            <div class="caption">
                                <!-- caption -->
                                <h2><a href="#" class="title">Product: <%= auction.name %></a></h2>
                                <p class="location"></p>
                                <div class="rating"> </i> Start Amount: <i class="fa fa-dollar"></i> <%= auction.startAmount %> </div>
                            </div>
                            <!-- /.caption -->
                            <% if(user){ %>
                            <% if (user.package =="BRONZE"){ %>
                            <div class="vendor-price">
                              <a href="#" title="Upgrade Your package"><i class="fa fa-gavel"></i></a>
                            </div>
                            
                            <% } else{ %>
                            <div class="vendor-price">
                              <a href="#" data-toggle="modal" onclick="bid('<%= auction._id %>')" data-target="#auctionValue" data-placement="top" title="Bid"><i class="fa fa-gavel"></i></a>
                            </div>
                            <% } %>
                            <% } else { %>
                            <div class="vendor-price">
                              <a href="#" data-toggle="modal" data-target="#SingIn" data-placement="top" title="Sign-in To start Bidding"><!--<i class="fa fa-sign-in">--> Bid Now </i></a>
                            </div>
                            <% } %>
                        </div>
                        <!-- vendor details -->
                    </div>
                </div>
                <!-- /.vendor box start-->
                <% } %>
              
            </div>
        </div>
    </div>