<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="<%= avatar %>" alt="" style="border-radius: 25px;">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome <%= firstname %></h3>
                        <p>You are 30 seconds away from earning your own money!</p>
                        <input href="/auth/sign-in" type="submit" name="" value="Login"/><br/>
                        
                    </div>
                    <div class="col-md-9 register-right" style="height: 478px;">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Company</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <form action="/auth/verify-account" method="post">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <h3 class="register-heading">Personal Details</h3>
                                    <div class="row register-form">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" disabled name="firstname" class="form-control" placeholder="First Name *" value="<%= firstname %>" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="lastname" class="form-control" placeholder="Last Name *" value="<%= lastname %>" />
                                            </div> 
                                            <div class="form-group">
                                                <input type="text" name="username" class="form-control" placeholder="Enter username *" value="<%= username %>" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="pwd" class="form-control" placeholder="Password *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="pwd1" class="form-control"  placeholder="Confirm Password *" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control" placeholder="Your Email *" value="<% for(social of user.socialNetwork){ %><%= social.email %>" />
                                                 <% } %>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="address" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your address *" value="<% for(address of user.address){ %><%= address.address %>" />
                                                 <% } %>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="city" class="form-control" placeholder="Enter city *" value="" required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="contact" class="form-control" placeholder="Enter contact *" value="" required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="country" class="form-control" placeholder="Enter Country *" value="" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <h3  class="register-heading">Company Details</h3>
                                    <div class="row register-form">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="company_name" class="form-control" placeholder="Enter company name *" value="" required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="company_email" class="form-control" placeholder="Enter company email" value="" required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="company_address" class="form-control" placeholder="Enter company address *" value=""  required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="tel" maxlength="10" minlength="10" class="form-control" placeholder="Enter Telephone number *" value="" />
                                            </div>


                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="mobile" class="form-control" placeholder="Enter mobile *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="postal" class="form-control" placeholder="Enter postal code *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="company_city" class="form-control" placeholder="Enter city *" value="" required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="company_country" class="form-control" placeholder="Enter country *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <textarea name="description" rows="5" class="form-control" placeholder="Enter a company brief description" value="" ></textarea>
                                            </div>
                                            <input type="submit" class="btnRegister"  value="Register"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            